<app-header></app-header>
<div class="main">
    <h1 class="p-2 mb-2 bg-dark text-white">Add Student Details</h1>
<p-tabView>
   <p-tabPanel header="Organization" id="o">
        <form [formGroup]="studentForm" >
            <label>Organization </label>&nbsp;&nbsp;<select (change)="organization($event.target.value)"
             class="btn btn-dark dropdown-toggle border border-dark text-white">
            <option value="" disabled selected>Select</option>
             <option *ngFor="let org of orgObj;" [value]="org.id">{{this.org.name}}</option>
    </select><br><br>              
    </form>
    </p-tabPanel> 
    
    <p-tabPanel header="Personal Details">
        <form [formGroup]="studentForm" (ngSubmit)="save()">
            <label>FirstName</label>&nbsp;<input type="text" formControlName="fname"> <br><br>
            <label>LastName</label>&nbsp;<input type="text" formControlName="lname"> <br><br>
            <label>DateOfBirth</label>&nbsp;<input type="date" formControlName="dob"> <br><br>
            <label>RegisterNumber</label>&nbsp;<input type="text" formControlName="redgno"> <br><br>
            <label>Email</label>&nbsp;<input type="email" formControlName="email"> <br><br>
            <label>MobileNo</label>&nbsp;<input type="tel" formControlName="mobileno"> <br><br>
            <label>Year</label>&nbsp;
            <div>
                <select (change)="years_($event.target.value)"class="btn btn-dark dropdown-toggle border border-dark text-white">
                    <option value="" disabled selected>Select Year</option>
                    <option  *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
                </select>
            </div>
        <br><br>
        <button type="submit" class="btn btn-dark" >Save</button>   
        </form>
        </p-tabPanel>
       

    
</p-tabView>
</div>
<router-outlet></router-outlet>
