<div>
    <h1 class='p-3 mb-2 bg-dark text-white' style="font-size: 32px;">
        <img src="..\assets\images\revature-logo.png" *ngIf="_auth.isUserLoggedIn()" [routerLink]="['/home']">

        <span style="float:right;">
            <button class='bg-dark text-white' *ngIf="_auth.isUserLoggedIn()" [routerLink]="['/faculty']"
                style="font-size: 25px;">Faculties</button>
            &nbsp;
            <button class='bg-dark text-white' *ngIf="_auth.isUserLoggedIn()" [routerLink]="['/students']"
                style="font-size: 25px;">Students</button>
            &nbsp;
            <button class='bg-dark text-white' *ngIf="_auth.isUserLoggedIn()" [routerLink]="['/roles']"
                style="font-size: 25px;">Roles</button>
            &nbsp;
            <button class='bg-dark text-white' *ngIf="_auth.isUserLoggedIn()" [routerLink]="['/logout']"
                style="font-size: 25px;">LogOut</button>

        </span>
    </h1>