<app-header></app-header>
<div class="main">
   <h1 class="p-3 mb-2 bg-dark text-white"> {{name}} Employees </h1>
   <button [routerLink]="['/addFaculties',this.id,this.name]" class="p-2 mb-2 btn-dark btn-btn-lg"
      style="float: right;">Add Faculty</button>
   <div>

      <table class="table table-striped" border="2">
         <thead>
            <tr>
               <th>No</th>
               <th>Name</th>
               <th>Role</th>
               <th>DateOfBirth</th>
               <th>Email</th>
               <th>Mobile</th>
               <th>Action</th>
            </tr>
         </thead>

         <tr *ngIf=!flag><b style="color: red;">No Records Found!!!</b></tr>
         <tbody *ngIf=flag class="align-middle" border="2">
            <tr *ngFor="let i of this.faculty ;let j=index;">
               <th>{{j+1}}</th>
               <td><a title="{{i.first_name}} Details" [routerLink]="['/facdetails',i.id]">{{i.first_name}}</a></td>
               <td>{{i.roles.name}}</td>
               <td>{{i.dob}}</td>
               <td>{{i.email}}</td>
               <td>{{i.mobile_no}}</td>
               <td><i id="edit-icon" [routerLink]="['/editfaculty',i.id,this.id,this.name]" class="pi pi-user-edit"
                  title="Edit {{i.first_name}} Details" style="font-size: 2em"></i>
                  &nbsp;&nbsp;<i id="delete-icon" (click)="delete(i.id)" class="pi pi-trash" title="Delete {{i.first_name}}" style="font-size: 2em;color: red"></i></td>
            </tr>
         </tbody>
      </table>

   </div>
</div>