<app-header></app-header>
<div class="main">
    <h1 class="p-3 mb-2 bg-dark text-white"> {{inst_name}} Students </h1>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search Students" [(ngModel)]="search">
        </div>
        <div class="col">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col">
            <button [routerLink]="['/addStudent',inst_id,inst_name]" class="p-2 mb-2 btn-dark btn-btn-lg"
            style="float: right;">Add Students</button>
        </div>     
    </div>
    <table class="table table-striped" border="2">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Year</th>
                <th>DateOfBirth</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr *ngIf=!flag><b style="color: red;">No Records Found!!!</b></tr>
        <tbody *ngIf=flag class="align-middle" border="2">
            <tr *ngFor="let student of students | filter:search | paginate:{ itemsPerPage:5, currentPage: p} ;let i=index">
                <td>{{i+1}}</td>
                <td><a title="{{student.fname}} Details" [routerLink]="['/studdetails',student.id]">{{student.fname}}</a></td>
                <td>{{student.year}}</td>
                <td>{{student.dob}}</td>
                <td>{{student.email}}</td>
                <td>{{student.mobileno}}</td>
                <td><i id="edit-icon" [routerLink]="['/editStudent',student.id,student.org.id]" class="pi pi-user-edit"
                    title="Edit {{student.fname}} Details" style="font-size: 2em"></i>
                    &nbsp;&nbsp;<i id="delete-icon" (click)="delete(student.id)" class="pi pi-trash" title="Delete {{student.fname}}" style="font-size: 2em;color: red"></i></td>

            </tr>
        </tbody>

    </table>

</div>