<app-header></app-header>
<div class="main">
    <h1 class="p-3 mb-2 bg-dark text-white">Additional Details of {{faculty.first_name}}</h1>
    <table border="2" class="table table-striped">
        <tbody class="align-middle">
            <tr>
                <th>First Name</th>
                <td>{{faculty.first_name}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{faculty.last_name}}</td>
            </tr>
            <tr>
                    <th>Organization</th>
                    <td>{{faculty.org.name}}</td>
                </tr>
            <tr>
                <th>Employee ID</th>
                <td>{{faculty.employee_id}}</td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>{{faculty.dob}}</td>
            </tr>
            <tr>
                <th>Email ID</th>
                <td>{{faculty.email}}</td>
            </tr>
            <tr>
                <th>Mobile Number</th>
                <td>{{faculty.mobile_no}}</td>
            </tr>
            <tr>
                <th>Created On</th>
                <td>{{faculty.createdon | date:'medium'}}</td>
            </tr>
            <tr>
                <th>Modified On</th>
                <td>{{faculty.modifiedon | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>