<app-header></app-header>
<div class="main">
   <h1 class="p-2 mb-2 bg-dark text-white">Edit Faculty</h1>
   <p-tabView>
      <p-tabPanel header="Organization" id="o">
         <form [formGroup]="editform">
            <label class="required" for="Organization">Organization</label>&nbsp;
            <select (change)="organization($event.target.value)"
               class="btn btn-dark dropdown-toggle border border-dark text-white" formControlName="institution_id">
               <option value="" disabled selected>Select Your Organization</option>
               <option *ngFor="let org of orgObj;" [value]="org.id">{{this.org.name}}</option>
            </select><br><br>
         </form>
      </p-tabPanel>
      <p-tabPanel header="Personal Details">
         <form [formGroup]="editform" (ngSubmit)="update()">
            <div class="row">
               <div class="col">
                  <label class="required" for="FirstName">First Name</label>
                  <input type="text" class="form-control" formControlName="first_name" id="name" placeholder="Enter First Name" required>
               </div>
               <div class="col">
                  <label class="required" for="LastName">Last Name</label>
                  <input type="text" class="form-control" formControlName="last_name" placeholder="Enter Last Name" required>   
               </div>
             </div>
             <br>
             <div class="row">
               <div class="col">
                  <label class="required" for="Date Of Birth">Date Of Birth</label>
                  <input type="date" class="form-control" formControlName="dob" aria-describedby="dobHelp" required>
               </div>
               <div class="col">
                  <label class="required" for="EmployeeID">Employee ID</label>
                  <input type="text" class="form-control" formControlName="employee_id" aria-describedby="employee_ID_Help" placeholder="Enter Employee ID(Only Numbers)" required>
                </div>
             </div>
             <br>
            <div class="row">
               <div class="col">
                  <label class="required" for="Email">Email</label>
                  <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter Email ID" required>
               </div>
               <div class="col">
                  <label class="required" for="Mobile_No">Mobile No</label>
                  <input type="tel" class="form-control" formControlName="mobile_no" placeholder="Enter Mobile Number" required>
                </div>
             </div>
             <br>
             <div class="row">
               <div class="col">
                  <label class="required" for="Role">Select Your Role</label>&nbsp;
                  <select (change)="role($event.target.value)"
                  class="btn btn-dark dropdown-toggle border border-dark text-white" formControlName="role_id">
                  <option *ngFor="let role of roles;" [value]="role.id">{{this.role.name}}</option>
                  </select>
               </div>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Update Faculty</button>
         </form>

      </p-tabPanel>



   </p-tabView>

</div>