<app-header></app-header>
<div class="main">
    <h1 class="p-2 mb-2 bg-dark text-white">Add Student</h1>
    <p-tabView>
        <p-tabPanel header="Organization" id="o">
            <form [formGroup]="studentForm">
                <label class="required">Organization </label>&nbsp;&nbsp;<select (change)="organization($event.target.value)"
                    class="btn btn-dark dropdown-toggle border border-dark text-white">
                    <option value="" disabled selected>Select Your Organization</option>
                    <option *ngFor="let org of orgObj;" [value]="org.id">{{this.org.name}}</option>
                </select><br><br>
            </form>
        </p-tabPanel>

        <p-tabPanel header="Personal Details">
            <form [formGroup]="studentForm">
                <div class="row">
                    <div class="col">
                       <label class="required" for="FirstName">First Name</label>
                       <input type="text" class="form-control" formControlName="fname" id="name" placeholder="Enter First Name" required>
                    </div>
                    <div class="col">
                       <label class="required" for="LastName">Last Name</label>
                       <input type="text" class="form-control" formControlName="lname" placeholder="Enter Last Name" required>   
                    </div>
                </div>
                  <br>
                <div class="row">
                    <div class="col">
                       <label class="required" for="Date Of Birth">Date Of Birth</label>
                       <input type="date" class="form-control" formControlName="dob" aria-describedby="dobHelp" required>
                    </div>
                    <div class="col">
                       <label class="required" for="RegisterNumber">Register Number</label>
                       <input type="text" class="form-control" formControlName="redgno" placeholder="Enter Register Number" required>
                     </div>
                </div>
                  <br>
                <div class="row">
                    <div class="col">
                       <label class="required" for="Email">Email</label>
                       <input type="email" class="form-control" formControlName="email" placeholder="Enter Email ID" required>
                    </div>
                    <div class="col">
                       <label class="required" for="Mobile_No">Mobile No</label>
                       <input type="tel" class="form-control" formControlName="mobileno" placeholder="Enter Mobile Number" required>
                     </div>
                </div>
                  <br>
                <div class="row">
                    <div class="col">
                        <label class="required">Year</label>&nbsp;
                        <select (change)="years_($event.target.value)"
                        class="btn btn-dark dropdown-toggle border border-dark text-white">
                        <option value="" disabled selected>Select Your Year</option>
                        <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
                         </select>
                    </div>
                    <div class="col">
                            <label class="required">Department</label>&nbsp;
                            <select (change)="department_($event.target.value)"
                            class="btn btn-dark dropdown-toggle border border-dark text-white">
                            <div>
                                <input type="text" class="form-control" placeholder="Search Students" [(ngModel)]="search">
                            </div>
                            <option value="" disabled selected>Select Your Department</option>
                            <option *ngFor="let dept of department | filter:search;" [value]="dept.id">{{this.dept.name}}</option>
                             </select>
                    </div>
                    
                 </div>
                <br>
                <button type="submit" (click)="save()"class="btn btn-dark">Save Student</button>
            </form>
        </p-tabPanel>
    </p-tabView>
</div>
<router-outlet></router-outlet>