<app-header></app-header>

<div class="main">
    <h1 class="p-2 mb-2 bg-dark text-white"> Organizations</h1>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search Organizations" [(ngModel)]="search">
        </div>
        <div class="col">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col">
            <button routerLink="/add" class="p-2 mb-2 btn-dark btn-btn-lg" style="float: right;">
            <i class="pi pi-plus-circle" ></i>Add organization</button>
        </div>
        
    </div>
    
    <table border="2" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No </th>
                <th scope="col">Name</th>
                <th scope="col">Alias</th>
                <th scope="col">University</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                <th scope="col">Faculties</th>
                <th scope="col">Students</th>
            </tr>
        </thead>
        <tr *ngIf=!flag><b style="color: red;">No Organizations Found!!!</b></tr>
        <tbody *ngIf=flag class="align-middle">
            <tr *ngFor="let org of this.org | filter:search | paginate:{ itemsPerPage:5, currentPage: p} ;let i=index; let isOdd=odd;let isLast=last,">

                <th scope="row">{{i+1}}</th>
                <td><a title="{{org.name}} Details" [routerLink]="['/details',org.id]">{{org.name}}</a> </td>
                <td>{{org.alias}} </td>
                <td>{{org.university}} </td>
                <td><i type="button" id="shape" class="pi pi-power-off" title="Toggle Status" (click)=changeStatus(org.id)
                        [ngClass]="org.isActive?'btn btn-success':'btn btn-danger'"></i>
                </td>

                <td>
                    <i id="edit-icon" [routerLink]="['/edit',org.id]" class="pi pi-user-edit" title="Edit {{org.name}} Details" style="font-size: 2em;"></i>
                    &nbsp;
                    <i id="delete-icon" (click)="delete(org.id)"  class="pi pi-trash" title="Delete {{org.name}}" style="font-size: 2em;color: red"></i>&nbsp;
                </td>

                <td>
                    <i id="view-fac-icon" [routerLink]="['/faculty',org.id,org.name]" class="pi pi-eye" title="View {{org.name}} Faculties" style="font-size: 2em "> </i>

                </td>
                <td>
                    <i id="view-stud-icon" [routerLink]="['/students',org.id,org.name]" class="pi pi-users" title="View {{org.name}} Students" style="font-size: 2em "></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<router-outlet></router-outlet>